<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Search Bug</title>

</head>

<body>
  <form class="jumbotron required" id="searchBug">
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-lg-1 col-form-label control-label">Title :</label>

      <div class="col">
        <input type="text" maxlength="200" class="form-control" placeholder="Enter Correct Bug Title" id="bugTitle" [(ngModel)]="bug.title"
          name="bugTitle" required>
      </div>


      <label for="colFormLabelLg" class="col-lg-1 col-form-label control-label">Status :</label>

      <div class="col">
          <select class="selectpicker form-control" data-live-search="true" id="bugStatus"  [(ngModel)]="bug.status"
          name="bugTitle"required>
              <option value="" disabled selected>Select Option</option>
              <option>NEW</option>
              <option>OPEN</option>
              <option>ASSIGNED</option>
              <option>FIXED</option>
              <option>PENDING_RETEST</option>
              <option>RETEST</option>
              <option>REOPEN</option>
              <option>VERIFIED</option>
              <option>CLOSED</option>
              <option>NOT_A_BUG</option>
              <option>REJECTED</option>
              <option>DUPLICATE</option>
              <option>DEFERRED</option>
              <option>COULDNT_REPRODUCE</option>
              <option>NEED_MORE_INFORMATION</option>
          </select>
      </div>


    </div>
    <div>
      <div class="text-center" style="margin-top: 50px;">
        <button type="button" class="btn btn-outline-primary col-sm-5"   (click)="getBug()"> Get Bug</button>
      </div>

    </div>

    <div class="table-responsive">
      <table class=" table table-bordered " style="border: 2px solid #000000; margin-top:50px">
        <thead >

          <td scope="col" style="border: 2px solid black;"> Title </td>
          <td scope="col" style="border: 2px solid black;"> Description </td>
          <td scope="col" style="border: 2px solid #000000;"> Status </td>
          <td scope="col" style="border: 2px solid #000000;"> Priority </td>
          <td scope="col" style="border: 2px solid #000000;">Type </td>
          <td scope="col" style="border: 2px solid #000000;">Submitted On </td>
          <td scope="col" style="border: 2px solid #000000;"> Build Version</td>
          <td scope="col" style="border: 2px solid #000000;"> Project ID</td>
          <td scope="col" style="border: 2px solid #000000;">Module</td>
          <td scope="col" style="border: 2px solid #000000;">Product</td>
          <td scope="col" style="border: 2px solid #000000;">ETA</td>
          <td scope="col" style="border: 2px solid #000000;">Action</td>


        </thead>
        <tbody id="bugsTable" style="border: 2px solid #000000">
          <ng-container *ngFor="let bug of bugList">
            <!-- TO DO implement function read in button-->
            <tr>
              <td scope="col" style="border: 2px solid #000000;" id="titlewidth">{{bug.title|truncate:[20]}}<br><button type="button" style="margin-top: 10px;"   class="btn btn-outline-info btn-sm">Read More</button></td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.description|truncate:[20]}}<br><button type="button"  style="margin-top: 10px;" class="btn btn-outline-info btn-sm" >Read More</button></td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.status|titlecase}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.priority|titlecase}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.type|titlecase}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.submitOnDate|date}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.buildVersion}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.projectId}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.module}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.product}}</td>
              <td scope="col" style="border: 2px solid #000000;">{{bug.etaDate|date}}</td>
              <td scope="col" style="border: 2px solid #000000;"><button type="button" class="btn btn-outline-danger" (click)='this.deleteBug(bug.id)'>Delete</button></td>


            </tr>
          </ng-container>

        </tbody>

      </table>
    </div>

  </form>


</body>
</html>
