@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-sm-6"] {
      padding-top: 5%;
      width: 100%;
  }
}


#titlewidth{
  column-width: 300px;
  word-wrap:break-word
}


thead{
  background-color: #007bff;

}

thead td{
  color: white;
}


.appEllipseContent {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width:200px;
}

.appEllipseContenthover {
  overflow: visible;
  white-space: normal;
}









